#search {
    width: 50%;

    margin: 0 auto;
    padding-top: 2rem;
}

#search h2 {
    text-align: center
}

#search .btn {
    max-width: 80px;

    text-align: center;

    display: block;
    
    margin: .5rem 0 2rem 0;
}